// layout

// colors
$number-colors: (
  1: #00f,
  2: #0f7001,
  3: #fb0000,
  4: #1c2c52,
  5: #994C00,
  6: #0090a8,
  7: #000,
  8: #6d6d6d,
);

// fonts
$font-size-default: 16;
$font-family-default: 'Lucida grande', Verdana, Roboto, 'Droid Sans', sans-serif;

// margin / padding
$standard-space: 10px;

